<nav>
	<div class="container">
		<div class="row">
			<div class="col-3">
        <a class="btn nav-link" (click)="onClicking('HOME');">HOME
        </a>
        </div>
        <div class="col-3">
        <a class="btn nav-link" (click)="onClicking('PROJECTS');">PROJECTS
        </a>
        </div>
        <div class="col-3">
        <a class="btn nav-link" (click)="onClicking('SERVICES');">SERVICES
        </a>
        </div>
        <div class="col-3">
        <a class="btn nav-link" (click)="onClicking('CONTACT');">CONTACT
        </a>
        </div>
		</div>
	</div>
</nav>