nav {
  background-color: cornflowerblue;
}

.btn {
  height: 100%;
  width: 100%;
  margin-right: 250px;
  background-color: cornflowerblue;
  color: white;
}

.btn:focus, .btn:hover {
  background-color: purple;
  color: white;
}

